/*reset styling*/ 
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
  
  html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, em, img, i, center, ol, ul, li, fieldset, form, label, figure, figcaption, footer, header, nav, section, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
  html, body {
    overflow-x: hidden;
  }
  
  body {
    line-height: 1;
    word-wrap: break-word;
    font-size: 100%;
    overflow: hidden;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  figcaption {
    font-style: italic;
  }
  
  button {
    outline: 0;
    color: inherit;
  }
  
  q {
    display: inline;
    font-style: italic;
  }
  
  textarea, input[type=text], input[type=button], input[type=submit], input[type=reset], input[type=search], input[type=password] input[type=number], input[type=email] {
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    border-radius: 0;
    border: 2px solid transparent;
    outline: none;
    resize: none;
  }
  
  a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease-in-out;
  }
  
  ol, ul {
    list-style: none;
    text-decoration: none;
  }


  /*variables*/
  :root {
    --textPrimary: #1F3251;
    --backgroundPrimary: #D6E2F0;
    --backgroundSecondary: #7B879D;

    --fontInter: "Inter", "Arial", sans-serif;
  }

  body {
    background-color: var(--backgroundPrimary);
    color: var(--textPrimary);
    font-family: var(--fontInter);
  }

  main {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 266px 563px 274px 562px;
  }

  .container {
    background-color: #FFFFFF;
    max-width: 315px;
    max-height: 484px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 17px 45px 18px;
    border-radius: 15px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.25);
  }

  img {
    border-radius: 15px;
    max-width: 280px;
    max-height: 280px;
  }

  .img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    line-height: 27.72px;
    margin-top: 4px;
  }
  

  p {
    font-weight: 400;
    font-size: 15px;
    color: var(--backgroundSecondary);
    max-width: 255px;
    margin: 0 auto;
    text-align: center;
    line-height: 18.9px;
     margin-top: 10px;
  }
